@use "../util/mixins" as *;
@use "../util/variables" as *;

.hero {
  padding: 50px 0;
  background-color: $DarkViolet;
  position: relative;
  z-index: 2;

  &::after {
    content: url(../../images/bg-pattern-intro-right-desktop.svg);
    position: absolute;
    top: 0;
    right: -40px;
    width: 35%;
    height: 100%;
    z-index: 0;
    @include breakpoint-down(small) {
      background-image: none;
    }
  }
  &::before {
    content: url(../../images/bg-pattern-intro-left-desktop.svg);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(60%);
    width: 15%;
    height: 80%;
    z-index: -1;
    @include breakpoint-down(small) {
      content: url(../../images/bg-pattern-intro-right-mobile.svg);
      width: 100%;
      height: 70%;
      top: 0;
      right: 0;
    }
  }
  .flex {
    @include breakpoint-down(small) {
      flex-direction: column-reverse;
    }
    & > div {
      flex: 1;
    }
  }
  &__content {
    margin-top: 30px;
    h1 {
      color: #fff;
      font-size: 65px;
      font-weight: 700;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        width: 80px;
        height: 1px;
        top: -40px;
      }
    }
    p {
      color: #fff;
      opacity: 0.8;
      margin-bottom: 35px;
      line-height: 1.4;
    }
    & > * {
      width: 90%;
    }
  }
  &__img {
    position: relative;
    top: 132px;
    @include breakpoint-down(small) {
      top: 0;
      width: 100%;
    }
    & > * {
      width: 90%;
      @include breakpoint-down(small) {
        width: 100%;
      }
    }
  }
}
